table {
  table-layout: fixed;
  width: 80%;
  min-width: 1000px;
  margin: 0 auto;
  border-collapse: collapse;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding-top: 10%;
}

th,
td {
  padding: 0.6em;
}

caption {
  padding: 1em;
  font-style: italic;
  font-size: small;
  font-weight: bold;
  caption-side: bottom;
  letter-spacing: 1px;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}
